.section-growers {
	.img-parallax {

		&.img-shovel {
			left: calc((100% - 1366px) / 2);
			width: auto;
		}
		
		&.img-dirt {
			right: 0;
			width: auto;
		}
	}

	.content {

		hr {
			border-color: $color-theme-primary;
			margin-top: 3em;
			width: 50%;
		}

		.author {
			
			&::before, &::after {
				content: "";
				display: inline-block;
				width: $sc-margin-lv4 * 2;
				border-top: 1px solid $color-theme-primary;
				margin-right: $sc-margin-lv4;
				margin-left: $sc-margin-lv4;
				position: relative;
				top: -$sc-margin-lv1;

			}
		}
	}

	.section-heading {
		color: $color-theme-primary;
	}

}