.section-intro {

	.img-parallax {

		&.img-mountains {
			top: 10%;
		}
		
		&.img-cloud-lg {
			top: 40%;
		}
		
		&.img-bg-mountains {
			top: 5%;
			// bottom: 20%;
		}
	}

	.section-heading-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;

		.section-heading {
			font-size: 7.5em;
			color: #383938;
			margin: 30vh 0 0;
			opacity: .3;
		}
	}
}
