.section-intro {
	.img-parallax {
		
		&.img-bg-mountains-shadow {
			opacity: .3;
		}

		&.img-mountains {
			top: 10%;
		}

		&.img-cloud-lg {
			top: 60%;
		}
	}

	.section-heading-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
		
		.section-heading {
			color: #383938;
			opacity: 0.3;
			margin: 15% 0 0;
			
			@media screen and (min-width: $screen-min-lg) {
				margin-top: 30vh;
				font-size: 7.5em;
			}
		}
	}
}
