body {
	font-family: 'TrebuchetMS', "Times New Roman", "Times", arial, serif;
}

.section-heading {
	position: absolute;
	font-size: 9em;
	font-weight: bold;
	color: #5d5851;
	opacity: .8;
	margin: 10px 5%;
}